<p id="notice"><%= notice %></p>

<p>
  <strong>Calories Burned:</strong>
  <%= @exercise.calories_burned %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @exercise.duration %> minutes
</p>

<p>
  <strong>Exercise:</strong>
  <%= @exercise.name %>
</p>

<div class="actions">
  <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
  <%= link_to 'Back', exercises_path %>
</div>

<div class="actions">
  <%= link_to "Homepage", root_path %>
</div>
