<%= form_for(@choloric_intake) do |f| %>
  <% if @choloric_intake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choloric_intake.errors.count, "error") %> prohibited this choloric_intake from being saved:</h2>

      <ul>
      <% @choloric_intake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
